.header{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    background-color: #E6C885;
}

.title{
    color: white;
}

.links{
    display: flex;
    list-style-type: none;
    padding: 0 15px;
}

.link{
    margin: 0 6px;
}

.linkitem{
    color: white;
    text-decoration: none;
}

.logo{
    width: 7%;
    height: 7%;
    border-radius: 50%;
}